body {
  background-color: #030e1b;
  color: #ffffff; /* 正文部分的字体颜色 */
}

h1, h2, h3 {
 color: #c62f50;
}

.sidebar {
  background-color: #e19cab;
  color: #030e1b;
}
.coverpage {
  background: linear-gradient(to right, #030e1b, #0b3459) !important;
  color: white !important;
}
.coverpage img {
  background: linear-gradient(to right, rgba(3, 14, 27, 0.5), rgba(11, 52, 89, 0.5)), url('https://github.com/NexMaker-Fab/2024ZWU-IS-BUNBUN/raw/7a18b93ef8f24a06ee2b7e4459f9f88af37e92df/images/WechatIMG357.jpg') center/cover no-repeat;
}