body {
  background-color: #030e1b; /* 正文部分背景颜色 */
  color: #ffffff; /* 正文部分的字体颜色 */
}

h1, h2, h3 {
 color: #f9f9f9;
}

.sidebar {
  background-color: #e19cab; /* 侧边栏背景颜色 */
  color: #030e1b; /* 侧边栏字体颜色 */
}
